/*nav bar*/
.nav-bar{
  position: relative;
  width: 80rem;
  margin: 0 auto;
  margin-left: -.5rem;
  margin-top: -1.15rem;
  height: 2.5rem;
  background-color: #f96408;
}

.call-now{
  position: relative;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin-left: 15rem;
}
.call-now h5{
  position: absolute;
  color: #C93500;
  margin-top: 8px;
  font-size: 1rem;
}
.call-now p{
  margin-left: 5.75rem;
  padding-top: 8px;
  font-size: 15px;
}

.login-signup{
  color: white;
  font-family: 'Oswald', sans-serif;
  margin-left: 15rem;
}
.login-signup h5{
  margin-left: 39rem;
  position: absolute;
  color: #C93500;
  margin-top: 0;
  font-size: 1rem;
}
.login-signup p{
  padding-left: 30rem;
  margin-left: 11.75rem;
  font-size: 15px;
  margin-top: -2.25rem;
}
.login-signup h5,p:hover{
  cursor: pointer;
}

/********************************************************************/

/*grey bar*/
.grey-logo-bar{
  width: 80rem;
  margin: 0 auto;
  margin-left: -.5rem;
  margin-top: -8px;
  height: 7.5rem;
  background-color: #f8f7f8;
}
.grey-logo-bar img{
  margin-left: 13.95rem;
  margin-top: 2.5rem;
}

#menu{
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: -3rem;
  margin-left: 38rem;
  font-size: 13px;
}
#menu ul{
  margin: 0;
  padding: 0;
  line-height: 30px;
}
#menu li{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
}
#menu ul li a{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  height: 30px;
  width: 45px;
  display: block;
  color: #696969;
}
#menu ul li a:hover{
  color: #000000;
}
#menu ul ul{
  position: absolute;
  visibility: hidden;
  top: 30px;
  border:1px solid;
  border-color:  #6B6B6B;
  width: 100px;
  background-color: white;
}
#menu ul li:hover ul{
  visibility: visible;
  text-align: center;
}

#submenu-text{
  margin-left: 15px;
}

/**************************************************************/
/*tabs*/
.tabs{
  margin: 0;
  display: flex;
  flex-flow: row;
  margin-top: 3rem;
  margin-left: 15rem;
  font-family: 'Ubuntu', sans-serif;
  color: #D0D0D0;
}
#home-tab:hover{
  color: #9A9A9A;
  cursor: pointer;
}
#about-tab:hover{
  color: #9A9A9A;
  cursor: pointer;
}
#contact-tab:hover{
  color: #9A9A9A;
  cursor: pointer;
}
/***********************************************************************/

/*contact info*/

.contact-info{
  word-wrap: break-word;
  margin-left: 15rem;
  margin-top: -1.5rem;
  width: 50%;
}
.contact-info h1{
  color: #E87437;
  cursor: default;
}

.contact-info p{
  cursor: default;
}
